<h3>Upload</h3>
<br/>

<%= form_for :app_version, url: '/admin/upload', :html => { :multipart => true } do |f| %>

  <table class="table table-bordered table-striped">
    <tbody>

  <%# Change log text area %>
  <tr>
    <th>Change Log</th>
    <td><%= f.text_area :change_log, :rows => 10, :size => "24x6" %></td>
  </tr>

  <%# Upload ipa %>
  <tr>
    <th>Upload ipa</th>
    <td><%= file_field_tag 'ipa' %></td>
  </tr>

  <%# Upload dSYM %>
  <tr>
    <th>Upload dSYM zip file</th>
    <td><%= file_field_tag 'dsym' %></td>
  </tr>

    </tbody>
  </table>

  <%# Submit button %>
  <p>
    <%= f.submit "Upload!" %>
  </p>

<% end %>