<h2>Upload</h2>
<br/>

<%= @info %>

<%= form_for :app_version, url: '/admin/upload', :html => { :multipart => true } do |f| %>

	<%# Change log text area %>
	<p>
		<%= f.label :change_log %><br>
		<%= f.text_area :change_log, :rows => 10, :size => "24x6" %>
	</p>

	<%# ipa upload %>
	<p>
		<%= f.label "Select ipa file to upload" %>
		<%= file_field_tag 'ipa' %>
	</p>

	<br />
	<%#  dSYM upload %>
	<p>
		<%= f.label "Select zipped dSYM file to upload" %>
		<%= file_field_tag 'dsym' %>
	</p>

	<%# Submit button %>
	<p>
		<%= f.submit "Upload ipa" %>
	</p>
<% end %>