<h2>Users</h2>

<!-- 
id: 1,
email: "tot@tot.com",
encrypted_password: "$2a$10$pHZFaR4O63xzAfwlKE4xTehCAv2usSu2caIrHnT62lfX...", 
reset_password_token: nil, 
reset_password_sent_at: nil, 
remember_created_at: nil, 
sign_in_count: 2, 
current_sign_in_at: "2013-07-24 08:37:15", 
last_sign_in_at: "2013-07-24 08:37:15", 
current_sign_in_ip: "127.0.0.1", 
last_sign_in_ip: "127.0.0.1", 
created_at: "2013-07-24 08:37:12", 
updated_at: "2013-07-24 08:37:15", 
is_admin: true
-->

<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>UID</th>
			<th>Email</th>
			<th>Roll</th>
			<th>Change Roll</th>
			<th>Delete</th>
		</tr>
	</thead>

	<tbody>
		<% @users.each do |user| %>
			<%# Role string %>
			<% case user.role %>
			<% when USER_ROLE_SYSTEM_ADMIN %>
				<% roleString = "System Admin" %>
			<% when USER_ROLE_APP_ADMIN %>
				<% roleString = "App Admin" %>
			<% when USER_ROLE_VIEWER %>
				<% roleString = "App Viewer" %>
			<% end %>

			<tr>
				<%# User ID %>
				<td><%= user.id %></td>	

				<%# Mail %>
				<td><a href="mailto:<%= user.email %>"><%=user.email%></a></td>

				<%# Role String %>
				<td><%= roleString %></td>

				<%# Change Role Link %>
				<td>
					<% if user.role == USER_ROLE_VIEWER %>
						App Viewer |
						<a href='/admin/users/<%=user.id%>/changerole/<%=USER_ROLE_APP_ADMIN%>'>App Admin</a> |
						<a href='/admin/users/<%=user.id%>/changerole/<%=USER_ROLE_SYSTEM_ADMIN%>'>System Admin</a>
					<% end %>
					<% if user.role == USER_ROLE_APP_ADMIN %>
						<a href='/admin/users/<%=user.id%>/changerole/<%=USER_ROLE_VIEWER%>'>App Viewer</a> |
						App Admin |
						<a href='/admin/users/<%=user.id%>/changerole/<%=USER_ROLE_SYSTEM_ADMIN%>'>System Admin</a>
					<% end %>
					<% if user.role == USER_ROLE_SYSTEM_ADMIN %>
						<a href='/admin/users/<%=user.id%>/changerole/<%=USER_ROLE_VIEWER%>'>App Viewer</a> |
						<a href='/admin/users/<%=user.id%>/changerole/<%=USER_ROLE_APP_ADMIN%>'>App Admin</a> |
						System Admin
					<% end %>
				</td>

				<%# Delete Link %>
				<% if current_user != user %>
					<td><a href='/users/<%= user.id %>/delete'>Delete</a></td>
				<% else %>
					<td>Myself</td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>