<h3>Users</h3>

<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>UID</th>
			<th>Email</th>
			<th>Roll</th>
			<th>Change Roll</th>
			<th>Delete</th>
		</tr>
	</thead>

	<tbody>
		<% @users.each do |user| %>
			<%# Role string %>
			<% case user.role %>
			<% when USER_ROLE_SYSTEM_ADMIN %>
				<% roleString = "System Admin" %>
			<% when USER_ROLE_APP_ADMIN %>
				<% roleString = "App Admin" %>
			<% when USER_ROLE_VIEWER %>
				<% roleString = "App Viewer" %>
			<% end %>

			<tr>
				<%# User ID %>
				<td><%= user.id %></td>	

				<%# Mail %>
				<td><%=mail_to user.email%></a></td>

				<%# Role String %>
				<td><%= roleString %></td>

				<%# Change Role Link %>

				<% if user == current_user %>
					<td><%= roleString %> (Can't change self's role)</td>
				<% else %>
					<td>
						<% if user.role == USER_ROLE_VIEWER %>
							App Viewer |
							<a href='/admin/users/<%=user.id%>/changerole/<%=USER_ROLE_APP_ADMIN%>'>App Admin</a> |
							<a href='/admin/users/<%=user.id%>/changerole/<%=USER_ROLE_SYSTEM_ADMIN%>'>System Admin</a>
						<% end %>
						<% if user.role == USER_ROLE_APP_ADMIN %>
							<a href='/admin/users/<%=user.id%>/changerole/<%=USER_ROLE_VIEWER%>'>App Viewer</a> |
							App Admin |
							<a href='/admin/users/<%=user.id%>/changerole/<%=USER_ROLE_SYSTEM_ADMIN%>'>System Admin</a>
						<% end %>
						<% if user.role == USER_ROLE_SYSTEM_ADMIN %>
							<a href='/admin/users/<%=user.id%>/changerole/<%=USER_ROLE_VIEWER%>'>App Viewer</a> |
							<a href='/admin/users/<%=user.id%>/changerole/<%=USER_ROLE_APP_ADMIN%>'>App Admin</a> |
							System Admin
						<% end %>
					</td>
				<% end %>

				<%# Delete Link %>
				<% if current_user != user %>
					<td>
						<%= link_to 'Delete', '/admin/users/' + user.id.to_s,
							:method => :delete,
		 					confirm: 'Are you sure to delete User ' + user.email + '?' 
						%>
					</td>
				<% else %>
					<td>Myself</td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>