<% assets_path = root_url + 'assets' %>

<% if @applist.empty? %>
  <h1 class="errorLabel">No beta test ipa package available.</h1>
  <div style="height:44px;"></div>
<% elsif %>
  <% @applist.each do |app| %>
    <% last_app_version = app.app_versions.last %>
    <% if last_app_version %>
      <div class="cell" onclick="openPage('versiondetail/<%= last_app_version.id.to_s %>')">
        <div class="iconContainer">
          <% if last_app_version.thumb_path %>
            <%= image_tag root_url + 'download/icon/' + last_app_version.id.to_s, :class => 'iconImage' %>
          <% else %>
            <%= image_tag assets_path + '/Icon.png', :class => 'iconImage' %>
          <% end %>
          <img class="iconRoundedRectImage" src="<%= assets_path %>/RoundedRectAngel.png">
        </div>

        <div class="labelOuterContentView">
          <div class="labelInnerContentView">
            <p class="cellTitleLabel">
              <%= last_app_version.app_name + ' ' + last_app_version.version + ' (' + last_app_version.short_version + ')' %>
            </p>
            <p class="cellVersionLabel">#<%= last_app_version.beta_version.to_s %></p>
            <p class="cellDateLabel"><%= last_app_version.release_date.strftime("%d %b,%y - %H:%M") %></p>
          </div>
        </div>

        <img class="detailButton" src="<%= assets_path %>/DetailButton.png">
      </div>

      <% if app.app_versions.count > 1 %>
        <div class="moreButton" onclick="openPage('moreversion/<%= app.id %>')">
          <img width="65px;" height="24px;" src="<%= assets_path %>/MoreButton.png">
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>