<h2>Apps</h2>

<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Bundle ID</th>
			<th>Total Versions</th>
			<th>Last version</th>
			<th>Last Uploader</th>
			<th>Manage</th>
		</tr>
	</thead>

	<tbody>
		<% @apps.each do |app| %>
			<tr>
				<% lastVersion = app.app_versions.last %>
				<%# name %>
				<td><%= lastVersion ? lastVersion.app_name : "unavailable" %></td>
				<%# bundle id %>
				<td><%= app.bundle_id %></td>	
				<%# total versions %>
				<td><%= app.app_versions.count %> versions totally</td>	
				<%# last version %>
				<td><%= lastVersion.version %>(<%= lastVersion.short_version %>) #<%=lastVersion.beta_version%></td>	
				<%# last uploader %>
				<td><%= lastVersion.uploader_email %></td>	
				<%# manage %>
				<td>Edit | Delete</td>	
			</tr>
		<% end %>
	</tbody>
</table>