<h2>Version of <%= @app_version.app_name + ' ' + @app_version.version_string %></h2>


<%= form_for :app_version, url: '/admin/appversion/' + @app_version.id.to_s, :html => { :multipart => true } do |f| %>

<table class="table table-bordered table-striped">
  <tbody>

    <%# name %>
    <tr>
      <th>Name</th>
      <td><%= @app_version.app_name %></td>
    </tr>

    <%# Icon %>
    <tr>
      <th>Icon</th>
      <td>
        <div class="col-lg-3">
          <a href="" class="thumbnail">
            <%= image_tag root_url + 'download/icon/' + @app_version.id.to_s %>
          </a>
        </div>
      </td>
    </tr>

    <%# beta version %>
    <tr>
      <th>Version</th>
      <td><%= @app_version.version_string %></td>
    </tr>

    <%# uploader %>
    <tr>
      <th>Uploader</th>
      <td><%= mail_to @app_version.uploader_email %></td>
    </tr>

    <%# release date %>
    <tr>
      <th>Release Date</th>
      <td><%= @app_version.release_date.to_s %></td>
    </tr>

    <%# change log %>
    <tr>
      <th>Change Log</th>
      <td><%= f.text_area :change_log, :rows => 10, :size => "24x6" %></td>
    </tr>

    <%# download %>
    <tr>
      <th>Download</th>
      <td>
          <%= link_to 'ipa', '/download/ipa/' + @app_version.id.to_s %>
          <% if @app_version.dsym_path %>
          | <%= link_to 'dSYM', '/download/dsym/' + @app_version.id.to_s %>
          <% end %>
      </td>
    </tr>

    <%# update dSYM %>
    <tr>
      <th>Update dSYM</th>
      <td><%= file_field_tag 'dsym' %></td>
    </tr>
  </tbody>
</table>
  <p>
    <%= f.submit "Confirm Change" %>
  </p>
<% end %>