<h3><%= link_to 'Apps', '/admin/apps' %> > <%= @app.bundle_id %></h3>

<% if @versions.count == 0 %>
	<h4>No version available.</h4>
	<h4>Please upload new apps in <%= link_to "Upload", "/admin/upload"%> page first.<h4>
<% else %>
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>App Name</th>
				<th>Version</th>
				<th>Release Date</th>
				<th>Uploader</th>
				<th style="min-width:200px;max-width:300px">Change Log</th>
				<th>Download</th>
				<% if (can? :manage, App) %>
				<th>Manage</th>
				<% elsif (can? :read, App) %>
				<th>View</th>
				<% end %>
			</tr>
		</thead>

		<tbody>
			<% @versions.each do |version| %>
				<tr>
					<td><%= version.app_name %></td>
					<td><%= link_to version.version_string, '/admin/appversion/' + version.id.to_s %></td>
					<td><%= version.release_date.strftime('%m/%d/%Y %H:%M') %></td>
					<td><%= mail_to version.uploader_email %></td>
					<td style="min-width:200px;max-width:300px">
						<% display_change_log = version.change_log %>
						<% display_change_log = display_change_log[0, 45] + "..." if display_change_log.length > 45 %>
						<%= display_change_log %>
					</td>
					<td>
						<%= link_to 'ipa', '/download/ipa/' + version.id.to_s %>
						<% if (can? :manage, App) && version.dsym_path %>
						| <%= link_to 'dSYM', '/download/dsym/' + version.id.to_s %>
						<% end %>
					</td>
					<% if (can? :manage, App) %>
						<td><%= link_to 'Edit', '/admin/appversion/' + version.id.to_s %> |
							<%= link_to 'Delete', '/admin/appversion/' + version.id.to_s, 
								:method => :delete,
								:confirm => 'Are you sure to delete ' + version.app_name + '#' + version.beta_version.to_s + '?'
							%>
						</td>
					<% elsif (can? :read, App) %>
						<td><%= link_to 'View', '/admin/appversion/' + version.id.to_s %></td>
					<% end %>
				</tr>
			<% end %>
		</tbody>
	</table>
<% end %>
